
.cardBox{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;
    border-radius: 10px;
    gap: 46px;
    padding: 49px 170px;
    justify-content: center;
    -webkit-border-radius: 10px;
}
.cardBoxContent{
    display:flex;
    /* border: 1px solid blue; */

}
.mobilecardBox{
    display: none;
}
.imgCont{
    width: 100%;
}
.cardBoxContent2{
    /* border: 1px solid red; */
    display: flex;
   gap: 10px;
}

.cardBoxDaily{
    
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    flex: 1 0 18%;
    overflow: auto;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .cardBox{
        /* flex-direction: column; */
       /* // display: none; */
       flex-wrap: wrap;
       /* width: 100px; */
       padding: 0;
    }
    .mobilecardBox{
        display: flex;
        flex-direction: column;
        /*border: 1px solid red;
        */background-color: #ffffff;
        box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;
        border-radius:10px;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;

    }
    .singleBox{
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .singleBoxTv{
        display: flex;
        overflow: auto;
        gap: 5px;
    }

    .cardBoxContent{
        display:flex;
        /* border: 1px solid red; */
        flex-wrap: wrap;
    overflow: auto;
    
    }
    .cardBoxContent2{
         /* border: 1px solid red; */
        display: flex;
        overflow: auto;
        gap: 10px;
    }

    .cardBoxDaily{
    
       height: 300px;
    }
}