.cardBox{
    background-color: #fff;
    /* border: 1px solid #000; */
    width: 160px;
    height: 280px;
    padding: 10px;
    cursor: pointer;
}

.cardBox:hover{
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;
    border-radius:10px;
}
.imgElem{
    width: 150px;
    height: 150px;
    padding: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cardsTit p, .price p{
    font-weight: bold;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 15px;

}