.parentBox {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  /* position: fixed; */
  margin: 0px auto;
  /* margin-top: 10px; */
  /* z-index: 1; */
  padding: 18px;
  height: 100px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 4px;
}
.logoBox h4 {
    margin: 40px 3px;
    width: 100px;
    font-size: 17px;
    /* border: 1px solid red; */
    background: aqua;
    text-decoration: none;
    height: 28px;
    justify-content: center;
    width: 100px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.logoBox a{
  text-decoration: none;
}
.fdiv {
  display: flex;
  gap: 10px;
}
.inputBox input {
  width: 385px;
  height: 40px;
  display: flex;
  margin: 30px auto;
  padding: 10px;
  outline-color: blue;
  border-color: #ced4da;
  /* 1px solid # */
  /* background-color: red; */
}
.btn {
  /* margin: 0 auto; */
  display: flex;
  /* height: 40px; */
  margin: 30px;
  padding: 0px;
  cursor: pointer;
}
.btn p:hover {
  background-color: #055e30;
  transition: 0.5 ease-in;
  -webkit-transition: 0.5 ease-in;
  -moz-transition: 0.5 ease-in;
  -ms-transition: 0.5 ease-in;
  -o-transition: 0.5 ease-in;
}
.btn p {
  background-color: #08b059;
  color: #fff;
  font-size: small;
  height: 40px;
  margin: 1px;
  padding: 10px;
  transition: 0.2 ease-in;
  -webkit-transition: 0.2 ease-in;
  -moz-transition: 0.2 ease-in;
  -ms-transition: 0.2 ease-in;
  -o-transition: 0.2 ease-in;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .inputBox input {
    width: 190px;
  }
  .inputBox{
    margin-top: 10px;
  }
  .inputBox input {
    width: 200px;
    height: 28px;
    display: flex;
    /* margin: 30px auto; */
    margin-left: 10px;
    padding: 5px;
   
    border-color: #ced4da;
    /* 1px solid # */
    /* background-color: red; */
  }
  .btn{
   
    display: flex;
    height: 40px;
    /* margin: 30px; */
    padding: 0px;
    margin-left: -14px;
    cursor: pointer;
    margin-top: 30px;
  }
  .btn p {
    width: 116px;
    height: 32px;
    padding:6px 10px;
    /* padding:10px; */
    margin-top: 8px;

    
  }
  .logoBox {
    display: none;
  }
  .SelectBar {
    display: none;
  }
}
